main {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "app-logo"
    "synopsis"
    "list-header"
    "filter"
    "projects-list";
}

#app-logo {
  justify-self: center;
  align-self: center;
}

#app-logo img {
  width: 300px;
  height: 300px;
}

#app-logo h1 {
  color: #092c4c;
  font-weight: 900;
  font-size: 2.7em;
}

#synopsis {
  display: flex;
  background-color: #fefefe;
  width: 500px;
  height: 100px;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
  justify-self: right;
  align-self: center;
}

#numdot {
  display: flex;
}

#numdot span {
  color: #061b3b;
  font-size: 2.2em;
  font-weight: 900;
}

#synopsis .underline {
  color: #b6c1cf;
  font-size: 0.85em;
  font-weight: 500;
}

#synopsis .dot {
  margin: 6% 0 0 4%;
}

@media (min-width: 700px) {
  main {
    margin: 4% 8%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "app-logo synopsis synopsis"
      "list-header list-header filter"
      "projects-list projects-list projects-list";
  }
  #app-logo {
    display: flex;
    align-items: center;
  }
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.green {
  background-color: #2ac6a5;
}

.yellow {
  background-color: #fff03d;
}

.blue {
  background-color: #216bff;
}

#app-logo {
  grid-area: app-logo;
}

#synopsis {
  grid-area: synopsis;
}

#list-header {
  grid-area: list-header;
}

#filter {
  grid-area: filter;
}

#projects-list {
  grid-area: projects-list;
}
