main {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "app-logo"
    "synopsis"
    "list-header"
    "filter"
    "projects-list";
}

#app-logo {
  justify-self: center;
  align-self: center;
}

#app-logo img {
  width: 300px;
  height: 300px;
}

#app-logo h1 {
  color: #092c4c;
  font-weight: 900;
  font-size: 2.7em;
}

#synopsis {
  display: flex;
  background-color: #fefefe;
  width: 500px;
  height: 100px;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  align-self: center;
}

#numdot {
  display: flex;
}

#numdot span {
  color: #061b3b;
  font-size: 2.2em;
  font-weight: 900;
}

#synopsis .underline {
  color: #b6c1cf;
  font-size: 0.85em;
  font-weight: 500;
}

#synopsis .dot {
  margin: 6% 0 0 4%;
}
#list-header {
  align-self: center;
}

#list-header h2 {
  font-weight: 700;
  font-size: 1.7em;
}
#filter {
  display: flex;
  background-color: #fefefe;
  padding: 14px;
  height: 16px;
  border-radius: 32px;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
}

#filter #filter-text {
  margin-right: 64px;
  color: #9fadba;
  font-weight: 500;
  font-size: 0.9em;
}

#filter select {
  color: #93a3b1;
  width: 140px;
  font-weight: 900;
  border: none;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(arrowdown.svg) 96% / 20% no-repeat transparent;
}

#projects-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 32px 4%;
  grid-auto-rows: 250px;
}

#projects-list li {
  background-color: white;
  padding: 8% 12%;
}

#project-item-state {
  text-align: right;
}

#project-item-info {
  height: 80%;
  margin-top: 8%;
  text-align: left;
}

.clamp-max-lines-1 {
  margin-top: 8%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

#project-item-title {
  display: block;
  font-size: 1.8em;
  font-weight: 700;
  color: #092c4c;
}

.clamp-max-lines-4 {
  margin-top: 8%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

#project-item-desc {
  color: #092c4c;
  font-weight: 300;
}

@media (min-width: 700px) {
  main {
    margin: 4% 8%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "app-logo synopsis synopsis"
      "list-header list-header filter"
      "projects-list projects-list projects-list";
  }
  #synopsis {
    justify-self: right;
  }
  #app-logo {
    display: flex;
    align-items: center;
  }
  #filter {
    justify-self: end;
  }
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.green {
  background-color: #2ac6a5;
}

.yellow {
  background-color: #fff03d;
}

.blue {
  background-color: #216bff;
}

#app-logo {
  grid-area: app-logo;
}

#synopsis {
  grid-area: synopsis;
}

#list-header {
  grid-area: list-header;
}

#filter {
  grid-area: filter;
}

#projects-list {
  grid-area: projects-list;
}
