{% extends "projectstracker/index.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'tracker/index.css' %}">
{% endblock stylesheet %}

{% block content %}
<main>
        <div id="app-logo">
                <img src="{% static 'tracker/applogo.svg' %}" />
                <h1>Projects tracker</h1>
        </div>
        <div id="synopsis">
                <div id="in-progress">
                        <div id="numdot">
                                <span><b>12</b></span>
                                <div class="dot blue"></div>
                        </div>
                        <span class="underline">In progress</span>
                </div>
                <div id="paused">
                        <div id="numdot">
                                <span><b>3</b></span>
                                <div class="dot yellow"></div>
                        </div>
                        <span class="underline">Paused</span>
                </div>
                <div id="shipped">
                        <div id="numdot">
                                <span><b>85</b></span>
                                <div class="dot green"></div>
                        </div>
                        <span class="underline">Shipped</span>
                </div>
                <div id="total">
                        <div id="numdot">
                                <span><b>100</b></span>
                        </div>
                        <span class="underline">Projects total</span>
                </div>
        </div>
        <div id="list-header">
                <h2>Projects</h2>
        </div>
        <div id="filter">
                Filter by
                <select>
                        <option value="shipping soon">Shipping Soon</option>
                </select>
        </div>
        <div id="projects-list">
                <ul>
                        {% for project in projects %}
                        <li>{{ project.title }}</li>
                        {% endfor %}
                </ul>
        </div>
</main>
{% endblock content %}
